*.log
*.elc

# Non useful files
ghc/ghci_history
bash/.bash_history
bash/.dircolors

# Non useful directories
git/
Godot/
audacious/
komorebi/
pychess/
xournalpp/
scoop/
mypaint/
darktable/
picard/
ash/
fastfetch/
nushell/
racket/
btop/
via/
picard/

# Games
CassetteBeasts/
YourOnlyMoveIsHUSTLE/
