*.log
*.xopp

# History files
/bash/.bash_history
/ghci/ghci_history

# Non useful
/Godot/
/komorebi/
/nvim/
/pychess/
/xournalpp/metadata/
/xournalpp/autosave/
/scoop/
/mypaint/
/clojure/

# Games
/CassetteBeasts/
/YourOnlyMoveIsHUSTLE/
