*.log
*.xopp
*.elc

# History files
bash/.bash_history
ghc/ghci_history
nushell/history.txt

# Non useful
Godot/
komorebi/
nvim/
pychess/
xournalpp/
mypaint/
scoop/
mypaint/
darktable/
mypaint/
picard/

# Games
CassetteBeasts/
YourOnlyMoveIsHUSTLE/
